*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

header{
    background:#111827;
    padding:20px;
    position:sticky;
    top:0;
    z-index:100;
}

nav{
    display:flex;
    justify-content:center;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:0.3s;
}

nav a:hover{
    color:#38bdf8;
}

.hero{
    height:400px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #2563eb);
}

.hero h1{
    font-size:60px;
    margin-bottom:10px;
}

.hero p{
    font-size:22px;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:50px 0;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.card{
    background:#1e293b;
    border-radius:15px;
    padding:25px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px #38bdf8;
}

.card h2{
    margin-bottom:15px;
    color:#38bdf8;
}

.btn{
    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:8px;
}

.btn:hover{
    background:#1d4ed8;
}

footer{
    text-align:center;
    padding:30px;
    background:#111827;
    margin-top:50px;
}